body {
  font-family: "Montserrat", sans-serif;
}

.visualy-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.main-content,
.choice-bicycles,
.bicycle-model,
.contacts__section {
  position: relative;
  margin: 0 auto;
  width: 1240px;
  background-color: #f2f4f7;
  border-radius: 20px;
}

.button {
  border: none;
  cursor: pointer;
  border-radius: 10px;
  background-color: #297fff;
  color: #ffffff;
}

.button:hover {
  background-color: #005eff;
}

.button:focus {
  outline: none;
}

.type-text--grey {
  margin: 0px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #abb1c5;
}

/* начало CSS header */
.header {
  margin-top: 20px;
  margin-bottom: 60px;
}

.top-line__logo {
  margin-right: 34px;
  cursor: pointer;
  width: 68px;
  height: 42px;
  text-decoration: none;
}

.header__top-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 1160px;
}

.header__nav {
  margin-right: 97px;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  width: 523px;
  list-style: none;
  padding: 0px;
}

.nav-link {
  text-decoration: none;
  color: #14233d;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.nav-link:hover {
  color: #297fff;
}

.nav-link:active {
  color: #297fff;
}

.header-button {
  margin-right: 48px;
}

.header-button__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 280px;
  margin: 0px;
  padding: 0px;
}

.button__enter {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  padding: 0px;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
}

.button__enter::before {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  width: 40px;
  height: 40px;
  background: url("../img/personal-area-icon.svg") no-repeat;
  background-position: 0 0;
}

.button__feedback {
  width: 200px;
  padding: 11px;
  border: none;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}

.header__clock {
  font-style: normal;
  font-weight: bold;
  font-size: 37px;
  line-height: 45px;
}

.clock__list {
  display: flex;
  justify-content: space-between;
  width: 100px;
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.clock-item__separator {
  animation-name: blink;
  animation-timing-function: linear;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
  /* 0% {
    opacity: 1.0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1.0;
  }   
} */
}
/* конец CSS header */

.main-content::before,
.choice-bicycles::before {
  content: "";
  position: absolute;
  bottom: -17px;
  left: 40px;
  background-position: 0 0;
  width: 74px;
  height: 17px;
  background: url("../img/intersect-top.png") no-repeat;
}

.main-content__container {
  display: flex;
  justify-content: flex-end;
}

.content-tittle__container {
  position: absolute;
  z-index: 2;
  left: 40px;
  top: 56px;
  width: 549px;
  height: 116px;
}

.main-content__tittle {
  position: absolute;
  z-index: 2;
  left: 40px;
  top: 56px;
  width: 549px;
  height: 116px;
  margin: 0px;
  padding: 0px;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  color: #14233d;
}

.main-content__list {
  position: relative;
  z-index: 1;
  display: flex;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.content__images,
.choice-bicycles-list-item {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.container__free,
.price {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 22px;
  color: #297fff;
}

.price--busy {
  color: #abb1c5;
}

.content__container {
  width: 316px;
  height: 210px;
  background-repeat: no-repeat;
  background-position: right center;
}

.content__container::before {
  content: "";
  position: absolute;
  background-position: 0 0;
}

.container--helmet {
  position: relative;
  left: 238px;
  background-image: url(../img/helmet-background.png);
}

.container--helmet::before {
  top: 13px;
  left: 89px;
  width: 190px;
  height: 143px;
  background: url("../img/helmet.png") no-repeat;
}

.container--flashlight {
  position: relative;
  left: 118px;
  background-image: url(../img/flashlight-backgroung.png);
}

.container--flashlight::before {
  top: 6px;
  left: 100px;
  width: 179px;
  height: 184px;
  background: url("../img/flashlight.png") no-repeat;
}

.container--locker {
  position: relative;
  width: 272px;
  height: 210px;
  background-image: url(../img/locker-backgroung.png);
}

.container--locker::before {
  top: 15px;
  left: 97px;
  width: 152px;
  height: 152px;
  background: url("../img/locker.png") no-repeat;
}

.container__text {
  margin: 0px;
  margin-left: 59px;
  padding: 0px;
  padding-top: 139px;
  padding-bottom: 5px;
  padding-right: 155px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #14233d;
}

.container__free {
  margin-left: 59px;
  padding-right: 85px;
}

.content-data__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 1160px;
  margin: 0px;
  margin-top: 29px;
  margin-right: 40px;
  margin-left: 40px;
  padding: 0px;
  padding-bottom: 35px;
}

.data-list__item {
  width: 260px;
  margin: 0px;
}

.rent-type__text,
.start-data__text,
.end-data__text,
.delivery-type__text {
  padding-bottom: 15px;
}

/*segmented control кнопки*/
/* .flight-types {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 260px;
  height: 60px;
  padding: 7px 6px;
  box-shadow: 0px 0px 0px 1px rgba(221, 227, 235, 1) inset;
  box-sizing: border-box;
  border-radius: 15px;
  background-color: #ffffff;
}

.button__days {
  width: 124px;
  padding: 13px;
  border: none;
  background-color: #297fff;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}

.button__two-hours {
  width: 124px;
  padding: 13px;
  border: none;
  background-color: #ffffff;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #14233d;
} */

.flight-types__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 260px;
  height: 60px;
  box-shadow: 0px 0px 0px 1px rgba(221, 227, 235, 1) inset;
  /* box-sizing: border-box; */
  border-radius: 15px;
  background-color: #ffffff;
}

.flight-types {
  display: flex;
  max-width: 246px;
  width: 100%;
  position: relative;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  position: relative;
  z-index: 1;
  margin: 0 auto;
  margin: 7px 6px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  border-radius: 10px;
  color: #14233d;
}

.flight-types > input {
  display: none;
}

.flight-types > input:checked + label {
  color: #ffffff;
}

.flight-types > input:nth-of-type(1):checked ~ label:last-of-type:before {
  transform: translateX(calc(0% + 0px));
}

.flight-types > input:nth-of-type(2):checked ~ label:last-of-type:before {
  transform: translateX(calc(100% + 0px));
}

.flight-types label {
  flex: 1;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.flight-types label:last-of-type:before {
  content: "";
  display: block;
  max-width: calc(50% - 0px);
  margin: 0px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  transform: translateX(0);
}

.flight-types label {
  padding: 9px 5px;
  transition: color 250ms cubic-bezier(0, 0.95, 0.38, 0.98);
}

.flight-types label:before {
  border-radius: 10px;
  background: #297fff;
  transition: all 250ms cubic-bezier(0, 0.95, 0.38, 0.98);
}
/*конец свойст segmented control кнопок*/

.start-data__container {
  position: relative;
}

.start-data__container::after {
  content: "";
  position: absolute;
  background-position: 0 0;
  right: -27px;
  bottom: 28px;
  width: 13px;
  height: 2px;
  background: url("../img/dash.svg") no-repeat;
}

.data-counter {
  width: 260px;
  height: 60px;
  padding: 19px 20px 19px 20px;
  background-color: #ffffff;
  box-shadow: 0px 0px 0px 1px rgba(221, 227, 235, 1) inset;
  border: none;
  box-sizing: border-box;
  border-radius: 15px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #14233d;
  cursor: pointer;
}

.data-counter:focus {
  outline: none;
}

/*opacity: 0 убирает значок календаря в input type="datetime-local"*/
input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  opacity: 1;
}

.delivery-type__option {
  width: 260px;
  min-height: 60px;
  padding: 0px;
  padding-left: 21px;
  list-style: none;
  background-color: #ffffff;
  border-radius: 15px;
  border: none;
  box-shadow: 0px 0px 0px 1px rgba(221, 227, 235, 1) inset;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #14233d;
  cursor: pointer;
}

.delivery-type__option:focus {
  outline: none;
}

.delivery-type {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #14233d;
}

/*.data-item--vector {
  position: relative;
}

.data-item--vector::before {
  content: "";
  position: absolute;
  background-position: 0 0;
  right: 20px;
  bottom: 18px;
  width: 20px;
  height: 20px;
  background: url("../img/vector.svg") no-repeat center center;
  cursor: pointer;
  pointer-events: none;
}*/

.choice-bicycles::after,
.bicycle-model::after {
  content: "";
  position: absolute;
  top: -17px;
  left: 40px;
  background-position: 0 0;
  width: 74px;
  height: 17px;
  background: url("../img/intersect-down.png") no-repeat;
}

.choice-bicycles__tittle {
  margin: 0px;
  padding-top: 33px;
  padding-right: 1000px;
  padding-left: 40px;
}

.bicycles__content {
  margin-top: 34px;
  margin-bottom: 34px;
}

.choice-bicycles__list {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.bicycles-list__item {
  margin: 0px;
  margin-left: 40px;
}

.bicycles__image {
  position: relative;
  top: 34px;
}

.choice-bicycles-container {
  display: flex;
  flex-wrap: wrap;
  width: 260px;
  height: 145px;
  border-radius: 15px;
  background-color: #ffffff;
}

.bicycle__text {
  width: 260px;
  padding-top: 49px;
  padding-bottom: 13px;
  padding-left: 24px;
  padding-right: 38px;
  color: #14233d;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.bicycle__price {
  margin: 0px;
}

.bicycle__price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 260px;
  margin-bottom: 20px;
  margin-left: 25px;
  margin-right: 25px;
}

.bicycle__button {
  display: flex;
  justify-content: space-between;
  width: 90px;
}

.button--small {
  width: 40px;
  height: 40px;
  border: 1px solid #dde3eb;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  background-color: #ffffff;
}

.button--small:focus {
  outline: none;
}

.bicycle__help {
  background-image: url("../img/question-mark.svg");
}

/*кнопка добавить*/
.bicycle__add {
  position: absolute;
  z-index: -1;
  opacity: 0;
  width: 40px;
  height: 40px;
}

.bicycle__add + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
}

.bicycle__add:checked + label::before {
  background-color: #297fff;
  background-image: url("../img/checkmark.svg");
}

.bicycle__add + label::before {
  content: "";
  display: inline-block;
  width: 38px;
  height: 38px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #dde3eb;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../img/plus-mark.svg");
}

.help-aluminium__prompt {
  display: none;
  position: absolute;
  bottom: 31px;
  left: 40px;
  width: 260px;
  height: 105px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 0px 0px 1px rgba(221, 227, 235, 1) inset;
}

.bicycle__help--aluminum:focus + .help-aluminium__prompt {
  display: block;
}

.help-aluminium__prompt::before {
  content: "";
  display: block;
  position: absolute;
  right: 85px;
  top: -10px;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  transform: rotate(45deg);
  box-shadow: 1px 1px 0px 0px rgba(221, 227, 235, 1) inset;
}

.aluminium-prompt__text {
  margin: 0px;
  padding: 13px 12px 16px 12px;
}

.carbon-prompt__text {
  display: none;
}

.choice-bicycles__button,
.button__further {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  width: 260px;
  height: 60px;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 19px 80px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 22px;
}

/*Секция с моделями велосипедов*/
.card__product {
  margin-bottom: 172px;
}

.model__brand-size {
  display: flex;
  justify-content: flex-start;
  margin-right: 40px;
  margin-left: 40px;
}

.brand__container,
.size__container {
  width: 260px;
}

.size__container {
  margin-left: 40px;
}

.brand__text,
.size__text {
  padding-top: 30px;
  padding-bottom: 15px;
}

.model__size,
.model__brand {
  width: 260px;
  min-height: 60px;
  padding: 0px;
  padding-left: 21px;
  list-style: none;
  background-color: #ffffff;
  border-radius: 15px;
  border: none;
  outline: none;
  box-shadow: 0px 0px 0px 1px rgb(221 227 235) inset;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #14233d;
  cursor: pointer;
}

.product__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0px 40px;
  padding: 0px;
  list-style: none;
}

.product__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 260px;
  min-height: 361px;
  margin-top: 40px;
  background-color: #ffffff;
  border-radius: 15px;
}

.size-brand__container {
  display: flex;
  justify-content: space-between;
  width: 210px;
}

.product__size {
  margin: 0px;
  padding: 16px 0px 15px 0px;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  color: #abb1c5;
}

.product__brand {
  margin: 0px;
  padding: 16px 0px 15px 0px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #abb1c5;
}

.product__image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 230px;
  height: 140px;
  background-color: #f2f4f7;
  border-radius: 10px;
}

.product__model {
  margin: 0px;
  padding-top: 15px;
  padding-right: 27px;
  padding-left: 22px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #14233d;
}

.product__price {
  margin: 0px;
  align-self: stretch;
  padding-top: 11px;
  padding-right: 27px;
  padding-left: 22px;
}

.model--busy {
  color: #abb1c5;
}

.product__button {
  width: 211px;
  height: 40px;
  margin: 0 auto;
  margin-top: 16px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 0px 1px rgba(41, 127, 255, 1) inset;
  border: none;
  border-radius: 10px;
  background-color: #ffffff;
  color: #297fff;
}

.busy__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 230px;
  margin-top: 16px;
}

.free-date {
  width: 126px;
  height: 40px;
  padding: 5px 0px;
  border: none;
  text-align: left;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 15px;
  color: #297fff;
  cursor: pointer;
  background-color: #ffffff;
}

.button--busy {
  width: 78px;
  height: 40px;
  margin: 0px;
  margin-right: 11px;
  margin-left: 11px;
  padding: 10px 9px;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 0px 1px rgba(221, 227, 235, 1) inset;
  background-color: #ffffff;
  color: #abb1c5;
  cursor: auto;
}

/* Стилизация футера */
footer {
  min-width: 1240px;
  background-color: #272934;
  color: #ffffff;
  padding-top: 53px;
  padding-bottom: 55px;
}

.footer-container {
  width: 1160px;
  margin: 0 auto;
}

.top-line {
  display: flex;
  justify-content: space-between;
}

.top-line__link {
  text-decoration: none;
  color: inherit;
}

.top-line__tittle {
  margin: 0px;
  margin-bottom: 26px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.top-line__tittle:hover,
.footer-nav__link:hover,
.footer-list__link:hover,
.copyring-social__link:hover {
  color: #005eff;
}

.footer__nav {
  display: flex;
  list-style: none;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.footer-nav__item {
  margin-right: 46px;
}

.footer-nav__item:last-child {
  margin-right: 0px;
}

.footer-nav__link {
  text-decoration: none;
  color: inherit;
}

.footer-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.footer__list {
  margin-bottom: 44px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #f2f4f7;
}

.footer-list__item {
  margin-bottom: 8px;
}

.footer-list__link {
  text-decoration: none;
  color: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.copyring-social {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

.footer__copyring-social {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #f2f4f7;
}

.copyring-social__text {
  margin: 0px;
  margin-right: 150px;
}

.copyring-social__link {
  margin-right: 452px;
  text-decoration: none;
  color: inherit;
}

.social-list {
  display: flex;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.copyring-social__list {
  margin-right: 8px;
}

.social-list__link {
  display: block;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: center center;
}

.facebook--link {
  margin-right: 29px;
  background-image: url("../img/fb-icon.svg");
}

.instagram--link {
  background-image: url("../img/instagram-icon.svg");
}
/*Конец стилизация футера*/

/* начало СSS страницы CONTACTS */
.contacts__section {
  margin-bottom: 120px;
}

.contacts__area {
  padding-top: 56px;
  padding-bottom: 70px;
}

.contacts-area__tittle {
  width: 300px;
  margin: 0px;
  margin-bottom: 52px;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  color: #14233d;
}

.contacts-container {
  display: flex;
  justify-content: space-between;
}

.contacts__container {
  display: flex;
  flex-direction: column;
}

.contacts-container__caption {
  margin: 0px;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #abb1c5;
}

.contacts-container__phone,
.feedback-container__text {
  margin: 0px;
  margin-bottom: 30px;
  text-decoration: none;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;
  color: #14233d;
}

.contacts-container__phone:hover,
.contacts-container__e-mail:hover {
  color: #005eff;
}

.contacts-container__e-mail,
.contacts-container__text {
  margin: 0px;
  margin-bottom: 10px;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #14233d;
}

.contacts-area__feedback-container {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.feedback-container__input,
.form-container__input {
  width: 520px;
  margin-bottom: 20px;
  padding: 19px 20px 19px 20px;
  border-radius: 15px;
  border: none;
  box-shadow: 0px 0px 0px 1px rgba(221, 227, 235, 1) inset;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #737b98;
}

.feedback-container__input:focus,
.form-container__input {
  outline: none;
}

.feedback-container__personal-data,
.form-container__personal-data {
  display: flex;
  align-items: center;
  width: 560px;
  margin-bottom: 21px;
}

/*Чекбокс малый 32х32*/
.checkbox--small {
  position: absolute;
  z-index: -1;
  opacity: 0;
  width: 32px;
  height: 32px;
}

.checkbox--small + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
}

.checkbox--small:checked + label::before {
  background-color: #297fff;
  background-image: url("../img/checkmark.svg");
}

.checkbox--small + label::before {
  content: "";
  display: inline-block;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  flex-grow: 0;
  box-shadow: 0px 0px 0px 1px rgba(221, 227, 235, 1) inset;
  border-radius: 10px;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center center;
}

.personal-data__offer {
  margin: 0px;
  margin-left: 15px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #14233d;
}

.contacts-section__send-button {
  width: 560px;
  margin-bottom: 60px;
  padding: 19px 200px 19px 200px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 22px;
}

.contacts__section__map-container {
  width: 1160px;
  height: 595px;
  border-radius: 20px;
  overflow: hidden;
}
/* конец СSS страницы CONTACTS */

/* начало CSS страницы RIDE */
.ride__section {
  position: relative;
  margin: 0 auto;
  width: 1240px;
}

.section-area {
  width: 1160px;
  margin: 0 auto;
  padding-right: 40px;
  padding-left: 40px;
  border-radius: 20px;
  background-color: #f2f4f7;
}

.ride-section__area {
  margin-bottom: 34px;
  padding-top: 56px;
  padding-bottom: 70px;
}

.section-area__tittle {
  width: 350px;
  margin: 0px;
  margin-bottom: 43px;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  color: #14233d;
}

.section-area__subtittle,
.second-place__subtittle {
  width: 250px;
  margin: 0px;
  margin-bottom: 15px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;
  color: #14233d;
}

.section-area__text {
  margin: 0px;
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  color: #14233d;
}

.section-area__foto-container {
  display: flex;
  justify-content: space-between;
}

.foto-container__foto {
  width: 360px;
  height: 262px;
  border-radius: 20px;
  overflow: hidden;
}

.ride-section__second-place {
  padding-top: 66px;
  padding-bottom: 65px;
  margin-bottom: 120px;
}

.second-place__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 62px;
}

.second-place__text {
  margin: 0px;
  width: 560px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  color: #14233d;
}

.second-place__second-foto {
  width: 559px;
  height: 262px;
  border-radius: 20px;
  overflow: hidden;
}

.second-place__bottom-place {
  display: flex;
  justify-content: space-between;
}

.second-place__bottom-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 260px;
}

.second-place__bottom-foto {
  width: 260px;
  height: 200px;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 29px;
}

.second-place__bottom-text {
  margin: 0px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #14233d;
}
/*конец CSS страницы RIDE*/

/*начало CSS страницы RULES*/
.rules-section {
  position: relative;
  margin: 0 auto;
  width: 1240px;
}

.rules__section {
  margin-bottom: 120px;
}

.rules-section__area {
  padding-top: 56px;
  padding-bottom: 46px;
}

.rules-section__tittle {
  width: 300px;
  margin: 0px;
  margin-bottom: 52px;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  color: #14233d;
}

.rules-section__subtittle {
  width: 300px;
  margin: 0px;
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 31px;
  color: #14233d;
}

.rules-section__row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 37px;
}

.rules-column {
  width: 360px;
  min-height: 135px;
}

.rules-column__tittle {
  margin: 0px;
  margin-bottom: 13px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #abb1c5;
}

.rules-column__text {
  margin: 0px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  color: #14233d;
}

.rules-section__second-subtittle {
  width: 350px;
  margin: 0px;
  margin-bottom: 31px;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 31px;
  color: #14233d;
}

.rules-section__second-paragraph {
  margin: 0px;
  width: 760px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  color: #14233d;
}

.rules-section__second-paragraph + .rules-section__second-paragraph {
  margin-top: 31px;
}
/*конец CSS страницы RULES*/

/* начало Формы "Обратная связь" */
/* работает только на главной странице */
.feedback-section {
  display: none;
  position: fixed;
  z-index: 3;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.6);
}

.feedback-section--show {
  display: block;
}

.feedback-form {
  position: fixed;
  top: 50%;
  left: 50%;
  margin: 0 auto;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 15px;
  background-color: #ffffff;
}

.feedback__form {
  width: 560px;
  height: 372px;
  padding: 54px 40px 60px 40px;
}

.form-container__text {
  margin: 0px;
  margin-bottom: 37px;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 31px;
  color: #14233d;
}

.feedback-form--send-button {
  margin-bottom: 0px;
}

.feedback-form__close-button {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  top: 0px;
  right: -50px;
  padding: 0;
  background-color: transparent;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  outline: none;
}

.feedback-form__close-button:before,
.feedback-form__close-button::after {
  content: "";
  position: absolute;
  top: 9px;
  left: -3px;
  width: 25px;
  height: 2px;
  background: #ffffff;
  border-radius: 2px;
  transform: rotate(45deg);
}

.feedback-form__close-button:before {
  transform: rotate(135deg);
}

.feedback-form__close-button {
  background-color: transparent;
}
/* конец Формы "Обратная связь" */
