body {
  font-family: "Montserrat", sans-serif;
}

.visualy-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.button--blue {
  cursor: pointer;
  background-color: #297fff;
  border: none;
  border-radius: 10px;
  color: #ffffff;
}

.button--blue:hover {
  background-color: #005eff;
  border-radius
}

.logo {
  cursor: pointer;
  width: 68px;
  height: 42px;
  text-decoration: none;
}

.top-line {
  display: flex;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 60px;
  width: 1160px;
}

.nav {
  display: flex;
  list-style: none;
  padding: 0px;
}

.nav-link {
  margin-left: 36px;
  text-decoration: none;
  color: #14233d;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.nav-link:hover {
  color: #297fff;
}

.header-button__list {
  display: flex;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.button__enter {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  margin-left: 96px;
  padding: 0px;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
}

.button__enter::before {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  width: 40px;
  height: 40px;
  background: url("../img/personal-area-icon.svg") no-repeat;
  background-position: 0 0;
}

.button__feedback {
  width: 200px;
  height: 40px;
  margin-left: 40px;
  padding: 0px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}

.time-counter {
  margin-left: 48px;
  font-style: normal;
  font-weight: bold;
  font-size: 37px;
  line-height: 45px;
}

.main-content,
.choice-bicycles {
  position: relative;
  margin: 0 auto;
  width: 1240px;
  background-color: #F2F4F7;
  border-radius: 20px;
}

.main-content::before {
  content: "";
  position: absolute;
  bottom: -17px;
  left: 40px;
  background-position: 0 0;
  width: 74px;
  height: 17px;
  background: url("../img/intersect-top.png") no-repeat;
}

.main-content__container {
  display: flex;
  justify-content: flex-end;
}

.content-tittle__container {
  position: absolute;
  z-index: 2;
  left: 40px;
  top: 56px;
  width: 549px;
  height: 116px;
}

.main-content__tittle {
  margin: 0px;
  padding: 0px;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  color: #14233D;
}

.main-content__list {
  position: relative;
  z-index: 1;
  display: flex;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.content__images,
.choice-bicycles-list-item {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.container__free,
.price {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 22px;
  color: #297fff;
}

.content__container {
  width: 316px;
  height: 210px;
  background-repeat: no-repeat;
  background-position: right center;
}

.content__container::before {
  content: "";
  position: absolute;
  background-position: 0 0;
}

.container--helmet {
  position: relative;
  left: 238px;
  background-image: url(../img/helmet-background.png);
}

.container--helmet::before {
  top: 13px;
  left: 89px;
  width: 190px;
  height: 143px;
  background: url("../img/helmet.png") no-repeat;
}

.container--flashlight { 
  position: relative;
  left: 118px;
  background-image: url(../img/flashlight-backgroung.png);
}

.container--flashlight::before {
  top: 6px;
  left: 100px;
  width: 179px;
  height: 184px;
  background: url("../img/flashlight.png") no-repeat;
}

.container--locker {
  position: relative;
  width: 272px;
  height: 210px;
  background-image: url(../img/locker-backgroung.png);
}

.container--locker::before {
  top: 15px;
  left: 97px;
  width: 152px;
  height: 152px;
  background: url("../img/locker.png") no-repeat;
}

.container__text {
  margin: 0px;
  margin-left: 59px;
  padding: 0px;
  padding-top: 139px;
  padding-bottom: 5px;
  padding-right: 155px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #14233D;
}

.container__free {
  margin-left: 59px;
  padding-right: 85px;
}

.content-data__list {
  display: flex;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.data-list__item {
  margin: 0px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #abb1c5;
}

/*segmented control кнопки*/
/*конец свойст segmented control кнопок*/

.choice-bicycles::before {
  content: "";
  position: absolute;
  top: -17px;
  left: 40px;
  background-position: 0 0;
  width: 74px;
  height: 17px;
  background: url("../img/intersect-down.png") no-repeat;
}

.choice-bicycles__tittle {
  margin: 0px;
  padding-top: 33px;
  padding-right: 1000px;
  padding-left: 40px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #abb1c5;
}

.bicycles__content {
  margin-top: 34px;
  margin-bottom: 75px;
}

.choice-bicycles__list {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.bicycles-list__item {
  margin: 0px;
  margin-left: 40px;
}

.bicycles__image {
  position: relative;
  top: 34px;
}

.choice-bicycles-container {
  display: flex;
  flex-wrap: wrap;
  width: 260px;
  height: 145px;
  border-radius: 15px;
  background-color: #ffffff;
}

.bicycle__text {
  width: 260px;
  padding-top: 49px;
  padding-bottom: 13px;
  padding-left: 24px;
  padding-right: 38px;
  color: #000000;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.bicycle__price {
  margin: 0px;
}

.bicycle__price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 260px;
  margin-bottom: 20px;
  margin-left: 25px;
  margin-right: 25px;
}

.button--small {
  width: 40px;
  height: 40px;
  border: 1px solid #dde3eb;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}

.bicycle__help {
  background-image: url("../img/question-mark.svg");
}

.bicycle__add {
  margin-left: 10px;
  background-image: url("../img/plus-mark.svg");
}

.help-aluminium__button {
  /*display: none;*/
  position: absolute;
  bottom: 37px;
  left: 40px;
  width: 260px;
  height: 105px;
  background-color: #ffffff;
  border-radius: 15px;
}

.aluminium-button__text {
  margin: 0px;
  padding: 13px 12px 16px 12px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #ABB1C5;
}

.choice-bicycles__button {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  width: 260px;
  height: 60px;
  margin-top: 42px;
  margin-bottom: 46px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 22px;
}

footer {
  min-width: 1240px;
  background-color: #272934;
  color: #ffffff;
}

.footer-container {
  width: 1240px;
  margin: 0 auto;
}

.footer-top-line {
  display: flex;
  justify-content: space-between;
}

.top-line__link {
text-decoration: none;
color: inherit;
}

.fotter-tittle {
  margin-top: 52px;
  margin-left: 40px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.footer-nav {
  display: flex;
  list-style: none;
  margin-top: 52px;
  padding: 0px;
}

.footer-nav__link {
  text-decoration: none;
  color: inherit;
  margin-right: 48px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.type-list {
  list-style: none;
  margin: 0px;
  margin-top: 12px;
  padding: 0px;
}

.type-list__item {
  margin-bottom: 8px;
}

.type-list__link {
  margin-left: 40px;
  text-decoration: none;
  color: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.footer-second-line {
  display: flex;
  justify-content: flex-start;
  margin-top: 24px;
  margin-bottom: 66px;
  margin-left: 40px;
}

.copyring {
  margin: 0px;
  margin-top: 20px;
  margin-bottom: 55px;
}

.policy {
  margin-left: 150px;
  margin-top: 20px;
  text-decoration: none;
  color: inherit;
}

.social-list {
  display: flex;
  list-style: none;
  margin: 0px;
  margin-right: 45px;
  margin-left: 500px;
  padding: 0px;
}

.social__link {
  display: block;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: center center;
}

.facebook-link {
  background-image: url("../img/fb-icon.svg");
}

.instagram-link {
  margin-left: 32px;
  background-image: url("../img/instagram-icon.svg");
}