body {
  font-family: "Montserrat", sans-serif;
}

.visualy-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.main-content,
.choice-bicycles,
.bicycle-model,
.ride__content,
.second-ride__content,
.contacts__section {
  position: relative;
  margin: 0 auto;
  width: 1240px;
  background-color: #f2f4f7;
  border-radius: 20px;
}

.button--blue:hover {
  background-color: #005eff;
}

.button--blue:active,
.button--blue:focus {
  background-color: #297fff;
  outline: none;
}

.type-text--grey {
  margin: 0px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #abb1c5;
}

.logo {
  cursor: pointer;
  width: 68px;
  height: 42px;
  text-decoration: none;
}

.top-line {
  display: flex;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 60px;
  width: 1160px;
}

.nav {
  display: flex;
  list-style: none;
  padding: 0px;
}

.nav-link {
  margin-left: 36px;
  text-decoration: none;
  color: #14233d;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.nav-link:hover {
  color: #297fff;
}

.nav-link:active {
  color: #297fff;
}

.header-button__list {
  display: flex;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.button__enter {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  margin-left: 96px;
  padding: 0px;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
}

.button__enter::before {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  width: 40px;
  height: 40px;
  background: url("../img/personal-area-icon.svg") no-repeat;
  background-position: 0 0;
}

.button__feedback {
  width: 200px;
  height: 40px;
  margin-left: 40px;
  padding: 0px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}

.time-counter {
  margin-left: 48px;
  font-style: normal;
  font-weight: bold;
  font-size: 37px;
  line-height: 45px;
}

.main-content::before,
.choice-bicycles::before {
  content: "";
  position: absolute;
  bottom: -17px;
  left: 40px;
  background-position: 0 0;
  width: 74px;
  height: 17px;
  background: url("../img/intersect-top.png") no-repeat;
}

.main-content__container {
  display: flex;
  justify-content: flex-end;
}

.content-tittle__container {
  position: absolute;
  z-index: 2;
  left: 40px;
  top: 56px;
  width: 549px;
  height: 116px;
}

.main-content__tittle {
  margin: 0px;
  padding: 0px;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  color: #14233d;
}

.main-content__list {
  position: relative;
  z-index: 1;
  display: flex;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.content__images,
.choice-bicycles-list-item {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.container__free,
.price {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 22px;
  color: #297fff;
}

.price--busy {
  color: #abb1c5;
}

.content__container {
  width: 316px;
  height: 210px;
  background-repeat: no-repeat;
  background-position: right center;
}

.content__container::before {
  content: "";
  position: absolute;
  background-position: 0 0;
}

.container--helmet {
  position: relative;
  left: 238px;
  background-image: url(../img/helmet-background.png);
}

.container--helmet::before {
  top: 13px;
  left: 89px;
  width: 190px;
  height: 143px;
  background: url("../img/helmet.png") no-repeat;
}

.container--flashlight {
  position: relative;
  left: 118px;
  background-image: url(../img/flashlight-backgroung.png);
}

.container--flashlight::before {
  top: 6px;
  left: 100px;
  width: 179px;
  height: 184px;
  background: url("../img/flashlight.png") no-repeat;
}

.container--locker {
  position: relative;
  width: 272px;
  height: 210px;
  background-image: url(../img/locker-backgroung.png);
}

.container--locker::before {
  top: 15px;
  left: 97px;
  width: 152px;
  height: 152px;
  background: url("../img/locker.png") no-repeat;
}

.container__text {
  margin: 0px;
  margin-left: 59px;
  padding: 0px;
  padding-top: 139px;
  padding-bottom: 5px;
  padding-right: 155px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #14233d;
}

.container__free {
  margin-left: 59px;
  padding-right: 85px;
}

.content-data__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 1160px;
  margin: 0px;
  margin-top: 29px;
  margin-right: 40px;
  margin-left: 40px;
  padding: 0px;
  padding-bottom: 35px;
}

.data-list__item {
  width: 260px;
  margin: 0px;
}

.rent-type__text,
.start-data__text,
.end-data__text,
.delivery-type__text {
  padding-bottom: 15px;
}

/*segmented control кнопки*/
/*конец свойст segmented control кнопок*/

.start-data__container {
  position: relative;
}

.start-data__container::after {
  content: "";
  position: absolute;
  background-position: 0 0;
  right: -27px;
  bottom: 28px;
  width: 13px;
  height: 2px;
  background: url("../img/dash.svg") no-repeat;
}

.data-counter {
  width: 260px;
  height: 60px;
  padding: 19px 20px 19px 20px;
  background-color: #ffffff;
  border: 1px solid #dde3eb;
  box-sizing: border-box;
  border-radius: 15px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #14233d;
  cursor: pointer;
}

.data-counter:focus {
  outline: none;
}

/*opacity: 0 убирает значок календаря в input type="datetime-local"*/
input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  opacity: 1;
}

.delivery-type__option {
  width: 260px;
  min-height: 60px;
  padding: 0px;
  padding-left: 21px;
  list-style: none;
  background-color: #ffffff;
  border-radius: 15px;
  border: none;
  box-shadow: 0px 0px 0px 1px rgba(221, 227, 235, 1) inset;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #14233d;
  cursor: pointer;
}

.delivery-type__option:focus {
  outline: none;
}

.delivery-type {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #14233d;
}

/*.data-item--vector {
  position: relative;
}

.data-item--vector::before {
  content: "";
  position: absolute;
  background-position: 0 0;
  right: 20px;
  bottom: 18px;
  width: 20px;
  height: 20px;
  background: url("../img/vector.svg") no-repeat center center;
  /*cursor: pointer;*/ /*срабатывет через раз*/
/*}*/

.choice-bicycles::after,
.bicycle-model::after {
  content: "";
  position: absolute;
  top: -17px;
  left: 40px;
  background-position: 0 0;
  width: 74px;
  height: 17px;
  background: url("../img/intersect-down.png") no-repeat;
}

.choice-bicycles__tittle {
  margin: 0px;
  padding-top: 33px;
  padding-right: 1000px;
  padding-left: 40px;
}

.bicycles__content {
  margin-top: 34px;
  margin-bottom: 34px;
}

.choice-bicycles__list {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.bicycles-list__item {
  margin: 0px;
  margin-left: 40px;
}

.bicycles__image {
  position: relative;
  top: 34px;
}

.choice-bicycles-container {
  display: flex;
  flex-wrap: wrap;
  width: 260px;
  height: 145px;
  border-radius: 15px;
  background-color: #ffffff;
}

.bicycle__text {
  width: 260px;
  padding-top: 49px;
  padding-bottom: 13px;
  padding-left: 24px;
  padding-right: 38px;
  color: #14233d;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.bicycle__price {
  margin: 0px;
}

.bicycle__price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 260px;
  margin-bottom: 20px;
  margin-left: 25px;
  margin-right: 25px;
}

.bicycle__button {
  display: flex;
  justify-content: space-between;
  width: 90px;
}

.button--small {
  width: 40px;
  height: 40px;
  border: 1px solid #dde3eb;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  background-color: #ffffff;
}

.button--small:focus {
  outline: none;
}

.bicycle__help {
  background-image: url("../img/question-mark.svg");
}

/*кнопка добавить*/
.bicycle__add {
  position: absolute;
  z-index: -1;
  opacity: 0;
  width: 40px;
  height: 40px;
}

.bicycle__add + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
}

.bicycle__add:checked + label::before {
  background-color: #297fff;
  background-image: url("../img/checkmark.svg");
}

.bicycle__add + label::before {
  content: "";
  display: inline-block;
  width: 38px;
  height: 38px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #dde3eb;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../img/plus-mark.svg");
}

.help-aluminium__prompt {
  /*display: none;*/
  position: absolute;
  bottom: 31px;
  left: 40px;
  width: 260px;
  height: 105px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 0px 0px 1px rgba(221, 227, 235, 1) inset;
}

/*не срабатывает правило! Почему?*/
.help-aluminium__prompt:hover .bicycle__help--aluminum {
  display: block;
  background-color: #000;
}

.bicycle__help--aluminum:hover {
  background-color: #000; /*тестовый стиль*/
}

.help-aluminium__prompt::before {
  content: "";
  display: block;
  position: absolute;
  right: 85px;
  top: -10px;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  transform: rotate(45deg);
  box-shadow: 1px 1px 0px 0px rgba(221, 227, 235, 1) inset;
}

.aluminium-prompt__text {
  margin: 0px;
  padding: 13px 12px 16px 12px;
}

.choice-bicycles__button,
.button__further {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  width: 260px;
  height: 60px;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 19px 80px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 22px;
}

/*Секция с моделями велосипедов*/
.model__brand-size {
  display: flex;
  justify-content: flex-start;
  margin-right: 40px;
  margin-left: 40px;
}

.brand__container,
.size__container {
  width: 260px;
}

.size__container {
  margin-left: 40px;
}

.brand__text,
.size__text {
  padding-top: 30px;
  padding-bottom: 15px;
}

.model__size,
.model__brand {
  width: 260px;
  min-height: 60px;
  padding: 0px;
  padding-left: 21px;
  list-style: none;
  background-color: #ffffff;
  border-radius: 15px;
  border: none;
  outline: none;
  box-shadow: 0px 0px 0px 1px rgb(221 227 235) inset;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #14233d;
  cursor: pointer;
}

.product__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0px 40px;
  padding: 0px;
  list-style: none;
}

.product__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 260px;
  min-height: 361px;
  margin-top: 40px;
  background-color: #ffffff;
  border-radius: 15px;
}

.size-brand__container {
  display: flex;
  justify-content: space-between;
  width: 210px;
}

.product__size {
  margin: 0px;
  padding: 16px 0px 15px 0px;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  color: #abb1c5;
}

.product__brand {
  margin: 0px;
  padding: 16px 0px 15px 0px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #abb1c5;
}

.product__image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 230px;
  height: 140px;
  background-color: #f2f4f7;
  border-radius: 10px;
}

.product__model {
  margin: 0px;
  padding-top: 15px;
  padding-right: 27px;
  padding-left: 22px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #14233d;
}

.product__price {
  margin: 0px;
  align-self: stretch;
  padding-top: 11px;
  padding-right: 27px;
  padding-left: 22px;
}

.model--busy {
  color: #abb1c5;
}

.product__button {
  width: 211px;
  height: 40px;
  margin: 0 auto;
  margin-top: 16px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 0px 1px rgba(41, 127, 255, 1) inset;
  border: none;
  border-radius: 10px;
  background-color: #ffffff;
  color: #297fff;
  cursor: pointer;
}

.busy__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 230px;
  margin-top: 16px;
}

.free-date {
  width: 126px;
  height: 40px;
  padding: 5px 0px;
  border: none;
  text-align: left;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 15px;
  color: #297fff;
  cursor: pointer;
  background-color: #ffffff;
}

.button--busy {
  width: 78px;
  height: 40px;
  margin: 0px;
  margin-right: 11px;
  margin-left: 11px;
  padding: 10px 9px;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 0px 1px rgba(221, 227, 235, 1) inset;
  background-color: #ffffff;
  color: #abb1c5;
  cursor: pointer;
}

.product__button:focus,
.product__button:active,
.button--busy:focus,
.button--busy:active {
  outline: none;
}

.button--blue {
  cursor: pointer;
  background-color: #297fff;
  border: none;
  border-radius: 10px;
  color: #ffffff;
}

/*Стилизация футера*/
footer {
  margin-top: 120px;
  min-width: 1240px;
  background-color: #272934;
  color: #ffffff;
}

.footer-container {
  width: 1240px;
  margin: 0 auto;
}

.footer-top-line {
  display: flex;
  justify-content: space-between;
}

.top-line__link {
  text-decoration: none;
  color: inherit;
}

.top-line__link:hover,
.footer-nav__link:hover,
.type-list__link:hover,
.policy:hover {
  color: #005eff;
}

.top-line__link:active,
.footer-nav__link:active,
.type-list__link:active,
.policy:active {
  color: #297fff;
}

.fotter-tittle {
  margin-top: 52px;
  margin-left: 40px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.footer-nav {
  display: flex;
  list-style: none;
  margin-top: 52px;
  padding: 0px;
}

.footer-nav__link {
  text-decoration: none;
  color: inherit;
  margin-right: 48px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.type-list {
  list-style: none;
  margin: 0px;
  margin-top: 12px;
  padding: 0px;
}

.type-list__item {
  margin-bottom: 8px;
}

.type-list__link {
  margin-left: 40px;
  text-decoration: none;
  color: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.footer-second-line {
  display: flex;
  justify-content: flex-start;
  margin-top: 24px;
  margin-bottom: 66px;
  margin-left: 40px;
}

.copyring {
  margin: 0px;
  margin-top: 20px;
  margin-bottom: 55px;
}

.policy {
  margin-left: 150px;
  margin-top: 20px;
  text-decoration: none;
  color: inherit;
}

.social-list {
  display: flex;
  list-style: none;
  margin: 0px;
  margin-right: 45px;
  margin-left: 500px;
  padding: 0px;
}

.social__link {
  display: block;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: center center;
}

.facebook-link {
  background-image: url("../img/fb-icon.svg");
}

.instagram-link {
  margin-left: 32px;
  background-image: url("../img/instagram-icon.svg");
}

/*CSS страницы RIDE, RULES*/
.rules {
  width: 1240px;
  margin: 0 auto;
  margin-bottom: 172px;
  background-color: #f2f4f7;
  border-radius: 20px;
}

.content-area {
  width: 1160px;
  margin: 0 auto;
}

.rules__tittle,
.ride__tittle,
.contacts__tittle {
  margin: 0px;
  padding-top: 56px;
  padding-right: 775px;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  color: #14233d;
}

.rules__subtittle {
  margin: 0px;
  padding-top: 52px;
  padding-right: 770px;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 31px;
  color: #14233d;
}

.rules__row {
  display: flex;
  justify-content: space-between;
  width: 1160px;
  margin-right: 40px;
  padding-top: 30px;
}

.rules__column {
  width: 360px;
}

.column__text,
.rules-damage__text,
.ride__text,
.second-ride__text {
  margin: 0px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  color: #14233d;
}

.damage-text,
.ride-text {
  padding-bottom: 46px;
}

.damage-text--padding {
  padding-top: 31px;
  padding-bottom: 38px;
}

.second-ride-content__area {
  margin-top: 34px;
  margin-bottom: 323px;
}

.ride__subtittle,
.second-ride__subtittle {
  margin: 0px;
  padding-top: 52px;
  padding-right: 770px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;
  color: #14233d;
}

.ride-text--padding {
  padding-top: 15px;
}

.ride-foto__container {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  padding-bottom: 70px;
}
.foto-container {
  width: 360px;
  height: 262px;
  border-radius: 20px;
  overflow: hidden;
}

.second-foto__area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.second-ride__container {
  width: 560px;
}

.second-foto__container {
  width: 559px;
  height: 262px;
  border-radius: 20px;
  overflow: hidden;
}

.bottom-foto__area {
  display: flex;
  justify-content: space-between;
  margin-top: 36px;
}

.bottom-foto__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 260px;
}

.bottom__container {
  width: 260px;
  height: 200px;
  border-radius: 20px;
  overflow: hidden;
}

.bottom-ride__text {
  margin: 0px;
  padding-top: 29px;
  padding-bottom: 65px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #14233d;
}
/*CSS страницы RIDE, RULES*/
/*СSS страница CONTACTS*/
.contacts-feedback__container {
  display: flex;
  justify-content: space-between;
  margin-top: 42px;
}

.contacts__container {
  display: flex;
  flex-direction: column;
}

.contacts__phone,
.feedback-captoin__text {
  margin: 0px;
  padding: 10px 10px 0px 0px;
  text-decoration: none;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;
  color: #14233d;
}

.contacts__phone:hover,
.contacts__e-mail:hover {
  color: #005eff;
}

.contacts__caption {
  padding: 30px 10px 0px 0px;
}

.contacts__e-mail,
.caption__text {
  margin: 0px;
  padding: 10px 10px 0px 0px;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #14233d;
}

.feedback__container {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.contacts__input {
  width: 540px;
  padding: 19px 0px 19px 20px;
  border-radius: 15px;
  border: none;
  box-shadow: 0px 0px 0px 1px rgba(221, 227, 235, 1) inset;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #737b98;
}

.contacts__input:focus {
  outline: none;
}

.contacts__input--name {
  margin-top: 35px;
}

.contacts__input--number {
  margin-top: 20px;
}

.personal-data__container {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

/*Чекбокс малый 32х32*/
.checkbox--small {
  position: absolute;
  z-index: -1;
  opacity: 0;
  width: 32px;
  height: 32px;
}

.checkbox--small + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
}

.checkbox--small:checked + label::before {
  background-color: #297fff;
  background-image: url("../img/checkmark.svg");
}

.checkbox--small + label::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #dde3eb;
  border-radius: 10px;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center center;
}

.personal-data__offer {
  margin: 0px;
  padding: 5px 110px 5px 15px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #14233d;
}

.contacts-send__button {
  width: 560px;
  margin-top: 21px;
  padding: 19px 200px 19px 200px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 22px;
}

.contacts-map__container {
  width: 1160px;
  height: 595px;
  margin-top: 60px;
  padding-bottom: 70px;
  border-radius: 20px;
  overflow: hidden;
}
